<div class="stats-section d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row align-items-center">
      <!-- Venstre seksjon -->
      <div class="col-lg-6 text-lg-start text-center">
        <h2 id="animated-title" class="fw-bold">Hva kan jeg hjelpe deg med?</h2>
      </div>

      <!-- Høyre seksjon -->
      <div class="col-lg-6 text-center">
        <div class="icon-container">
          <fa-icon [icon]="faCode" class="icon"></fa-icon>
          <fa-icon [icon]="faPaintBrush" class="icon"></fa-icon>
          <fa-icon [icon]="faBullhorn" class="icon"></fa-icon>
          <fa-icon [icon]="faLightbulb" class="icon"></fa-icon>
        </div>
        <p class="fs-5 mt-4 ls-custom">
          Jeg tilbyr <strong>Web Development</strong> for moderne og effektive
          nettsider, <strong>UX/UI Design</strong> for brukervennlige
          opplevelser, <strong>Digital Markedsføring</strong> for å nå din
          målgruppe, og <strong>Strategi</strong> for å optimalisere din
          digitale tilstedeværelse.
        </p>
      </div>
    </div>
  </div>
</div>
