@import "../../../../assets/styles/variables";

.stats-section {
  height: 70vh;
  background: $light-mode-green-100;
  color: $light-mode-text-black-100;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 20px;
}

.icon {
  font-size: clamp(1rem, 2vw, 2rem);
  color: $light-mode-cta-green-color-100;
  animation: zoomInOut 10s ease-in-out infinite;
}

.icon:hover {
  transform: scale(1.1);
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.icon:nth-child(1) {
  animation-delay: 0s;
}
.icon:nth-child(2) {
  animation-delay: 2s;
}
.icon:nth-child(3) {
  animation-delay: 3s;
}
.icon:nth-child(4) {
  animation-delay: 3.5s;
}

.fs-5 {
  font-size: clamp(1rem, 2vw, 1.25rem);
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}

#animated-title {
  font-size: clamp(2rem, 5vw, 5rem);
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#animated-title.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 992px) {
  .text-lg-start {
    text-align: center !important;
  }

  .icon-container {
    justify-content: center;
    gap: 15px;
  }
}
@media (max-width: 576px) {
  .stats-section {
    height: auto !important;
    padding: 25px 0 25px 0 !important;

    h2 {
      margin-top: 20px !important;
      text-align: start !important;
    }

    p {
      margin-top: 10px !important;
      font-size: 1.2rem !important;
      text-align: start !important;
    }
  }

  .icon-container {
    justify-content: flex-start !important;
    margin-bottom: 0 !important;
    gap: 10px;

    fa-icon {
      font-size: 1.3rem;
      padding: 10px 0 10px 0;
    }
  }
}
