.navbar {
  background-color: $light-mode-gray-100;

  .navbar-brand {
    text-transform: uppercase;
    font-size: $h2-font-size;
    font-family: $font-secondary;
    margin-left: 2.4rem;
  }
  a {
    color: $color-primary-black;

    &:hover {
      color: $light-mode-cta-green-color-100;
    }
  }
}
