<div class="container-fluid p-1 p-sm-0 pt-5 pt-sm-0">
  <div class="headings-wrapper">
    <div class="clients-decor-line"></div>
    <h3>Klienter &amp;</h3>
    <h2 class="fw-bold">Partnere</h2>
  </div>
  <div class="clients-small-box"></div>
  <div class="clients-big-box">
    <div class="clients-images">
      <img src="/assets/img/partners/proriv2.png" />
      <img src="/assets/img/partners/20502.png" />
      <img src="/assets/img/partners/daverit2.png" />
      <img src="/assets/img/partners/wikingz2.png" />
      <img src="/assets/img/partners/intellitech.png" />
    </div>
  </div>
</div>
