<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#f2f7f6"
    fill-opacity="1"
    class="clients-fill"
    d="M0,96L60,101.3C120,107,240,117,360,122.7C480,128,600,128,720,112C840,96,960,64,1080,85.3C1200,107,1320,181,1380,218.7L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
  ></path>
</svg>
<div class="container-fluid p-0">
  <div class="headings-wrapper">
    <h3>Klienter &amp;</h3>
    <h2 class="fw-bold">Partnere</h2>
  </div>
  <div class="clients-small-box"></div>
  <div class="clients-big-box">
    <div class="clients-images">
      <img src="/assets/img/partners/proriv2.png" />
      <img src="/assets/img/partners/20502.png" />
      <img src="/assets/img/partners/daverit2.png" />
      <img src="/assets/img/partners/wikingz2.png" />
      <img src="/assets/img/partners/intellitech.png" />
    </div>
  </div>
</div>
