@import "../../../../assets/styles/variables";

.container-fluid {
  display: flex;
  flex-direction: row;
  min-height: 95vh;
  color: $light-mode-text-black-100;
  .education {
    background-image: url("../../../../assets/img/education-background.png");
    background-color: #efefef;
    min-height: 50vh;
    flex: 1 1;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    height: auto;
    width: auto;
  }

  .container {
    margin-top: -93px;
    background: $light-mode-gray-100;
    flex: 1 1;

    h1 {
      font-size: $custom-large-font-size;
    }
    .education-wrapper {
      display: flex;
      align-items: center;

      img {
        height: 100%;
        width: 170px;
        padding: 13px;
      }

      .education-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 992px), (max-width: 576px) {
  .container {
    margin-top: auto !important;
    background: white !important;
  }
  .education-container {
    display: flex;
    flex-direction: column;
    padding: 13px !important;
  }
  .education-holder {
    min-height: auto !important;
  }
  .education-dark {
    padding: 0 !important;
    padding-bottom: 20px !important;
    height: fit-content;
  }

  .education {
    display: none !important;
  }

  h1 {
    font-size: 2.5rem !important;
    margin-top: -1rem !important;
    margin-left: 20px !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
  }

  .education-wrapper {
    img {
      width: 120px !important;
      padding: 11px;
    }
    span {
      h3 {
        font-weight: bold;
        font-size: 1.3rem;
      }

      h5 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
