@import "../../../../assets/styles/variables";

h1 {
  font-size: $h1-font-size;
  font-family: $font-primary;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h4 {
  color: $color-primary-orange;
}

.min-vh {
  min-height: 75vh;
}

.cv-btn {
  width: 40%;
}

.img-fluid {
  max-width: 80%;
  height: auto;
  padding: 3rem;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.background-shape {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -63%);
  background: #f4f2ec;
  width: 78%;
  max-width: 78%;
  height: auto;
  aspect-ratio: 1.1;
  z-index: -1;
  animation: morph 6s linear infinite;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .background-shape {
    display: none;
  }

  .cv-btn {
    width: auto;
  }
}

.d-flex.gap-2 {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
  }

  .text-container {
    text-align: center;
  }

  .d-flex {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  h4 {
    font-size: 1rem;
  }

  .img-fluid {
    max-width: 350px;
    padding: 0;
    margin-top: 3rem;
  }
}

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
