<div class="container-fluid position-relative">
  <div class="row align-items-center bg-custom mx-2">
    <div class="col-md-6 p-5 text-container">
      <h1 class="mb-0 animate-text">Shamil Babujev</h1>
      <h4 class="m-0 animate-text">Frontend utvikling | UX UI Design</h4>
      <p class="animate-text">
        Jeg er en frontendutvikler og UX/UI-designer. Ved siden av jobben
        studerer jeg backend for å utvide min tekniske forståelse. Akkurat nå er
        jeg på jakt etter spennende muligheter hvor jeg kan bidra med mine
        ferdigheter og vokse som utvikler.
      </p>
      <div class="d-flex gap-2">
        <button class="btn btn-dark w-50 animate-text">Last ned CV</button>
        <button class="btn btn-outline-dark animate-text">Kontakt meg</button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end position-relative">
      <img
        src="assets/img/logo4.png"
        class="img-fluid float-right z-3"
        alt="Portfolio Image"
      />
      <div class="background-shape"></div>
    </div>
  </div>
</div>
