<div class="container-fluid position-relative min-vh d-flex align-items-center">
  <div
    class="row align-items-center bg-custom mx-2 flex-md-row flex-column-reverse"
  >
    <!-- Tekstseksjon -->
    <div
      class="col-md-6 p-3 pt-4 pt-md-0 p-md-5 text-container text-md-start text-center"
    >
      <h1 class="mb-0 animate-text">Shamil Babujev</h1>
      <h4 class="m-0 animate-text">Frontend utvikling | UX UI Design</h4>
      <p class="animate-text fs-5 pt-2 pt-md-0">
        Jeg er en frontendutvikler og UX/UI-designer. Ved siden av jobben
        studerer jeg backend for å utvide min tekniske forståelse. Akkurat nå er
        jeg på jakt etter spennende muligheter hvor jeg kan bidra med mine
        ferdigheter og vokse som utvikler.
      </p>
      <div
        class="d-flex gap-2 justify-content-md-start justify-content-center intro-btn-wrapper"
      >
        <button class="btn btn-dark animate-text cv-btn" (click)="downloadCV()">
          Last ned CV
        </button>
        <button class="btn btn-outline-dark animate-text" (click)="sendEmail()">
          Kontakt meg
        </button>
      </div>
    </div>
    <!-- Bilde + bakgrunnsform (Vises først på mobil) -->
    <div
      class="col-md-6 d-flex justify-content-md-end justify-content-center position-relative"
    >
      <div class="image-wrapper">
        <div class="background-shape"></div>
        <img
          src="assets/img/logo4.png"
          class="img-fluid"
          alt="Portfolio Image"
        />
      </div>
    </div>
  </div>
</div>
