<div class="container-fluid bg-beige">
  <h1 class="text-center p-5">Portfolio</h1>
  <div
    class="row row-cols-1 justify-content-center row-cols-md-2 row-cols-lg-6 g-4 mt-3 large-padding"
  >
    <div class="col" *ngFor="let project of projects">
      <div class="card h-100">
        <div class="card-img-container">
          <img [src]="project.image" class="card-img-top" alt="..." />
          <div class="hover-overlay">
            <a href="{{ project.link }}" target="_blank" class="btn btn-dark"
              >Les mer</a
            >
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title">{{ project.title }}</h6>
          <small class="card-subtitle mb-2 text-muted">
            {{ project.subtitle }}
          </small>
          <div>
            <img
              *ngFor="let icon of project.icons"
              [src]="icon"
              class="icon-img"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
