@import "../../../../assets/styles/variables";

.bg-beige {
  background-color: $light-mode-blue-100;
}

h1 {
  font-size: $custom-large-font-size;
}

.carousel {
  max-width: 1200px;
  margin: auto;
}

.carousel-item {
  transition: transform 0.6s ease-in-out;
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%; 
  max-width: 300px; 
  margin: auto;
}

.card-img-container {
  position: relative;
}

.card-img-container img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
}

.card-img-container .hover-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card-img-container:hover .hover-overlay {
  opacity: 1;
}

.icon-img {
  width: 24px;
  height: 24px;
  margin: 5px;
}

.carousel-indicators {
  bottom: -70px;
}

.carousel-inner {
  overflow: visible !important;
}

.carousel-indicators button {
  background-color: #bbb;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  margin: 3px;
  transition: background-color 0.3s ease;
}

.carousel-indicators .active {
  background-color: #333;
}

.custom-carousel-prev,
.custom-carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.custom-carousel-prev {
  left: -80px;
}

.custom-carousel-next {
  right: -80px;
}

.custom-carousel-prev:hover,
.custom-carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 992px), (max-width: 768px) {
  .carousel {
    max-width: 90%;
  }

  .card {
    max-width: 250px;
    height: auto;
  }

  .card-img-container img {
    height: 250px;
  }

  .card-body {
    padding: 0.8rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  .carousel-indicators {
    bottom: -50px;
  }

  .custom-carousel-prev,
  .custom-carousel-next {
    width: 40px;
    height: 40px;
  }

  .custom-carousel-prev {
    left: -14px;
  }

  .custom-carousel-next {
    right: -14px;
  }
}

@media (max-width: 576px) {
  .card {
    max-width: 240px;
  }

  .card-img-container img {
    height: 200px;
  }

  .card-body {
    padding: 0.6rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .carousel-indicators {
    bottom: -60px;
  }

  .bg-beige {
    padding-bottom: 50px !important;
  }

  .custom-carousel-prev,
  .custom-carousel-next {
    width: 35px;
    height: 35px;
  }

  .custom-carousel-prev {
    left: -14px;
  }

  .custom-carousel-next {
    right: -14px;
  }
}

.badge {
  font-size: 0.75rem; 
  padding: 0.3rem 0.6rem;
  white-space: nowrap; 
  border-radius: 0px 2px 2px 0px !important;

  &__improvement {
    background-color:#c5ffd5 !important;
    font-size: 0.75rem; 
    padding: 0.3rem 0.6rem;
    white-space: nowrap; 
  }

  @media (max-width: 768px) {
    font-size: 0.65rem; 
    padding: 0.2rem 0.4rem;
  }
}

.badge-icon {
  font-size: .7rem;
}

