<nav
  class="navbar navbar-expand-lg navbar-light"
  [ngClass]="{ 'navbar-dark': isDarkMode, 'bg-dark': isDarkMode }"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">Babuevs</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Prosjekter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Utdanning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Tjenester</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto align-items-center">
        <a
          href="https://www.linkedin.com/in/shamil-babujev-1140b7191/"
          target="_blank"
        >
          <i class="fab fa-linkedin fa-lg footer-btns__linkedin"></i>
        </a>
        <li class="nav-item mt-1 px-3">
          <input
            type="checkbox"
            id="darkModeToggle"
            [checked]="isDarkMode"
            (change)="toggleDarkMode()"
            class="form-check-input"
          />
          <label for="darkModeToggle" class="dark-mode-switch">
            <span></span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</nav>
