@import "../../../assets/styles/variables";

.dark-mode-btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  color: #ffcc00;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dark-mode-btn .fa-moon {
  color: #ddd;
}

.dark-mode-btn .fa-moon:hover {
  color: $dark-mode-cta-green-color-100 !important;
}

.dark-mode-btn:hover {
  opacity: 0.8;
}

.footer-btns__linkedin {
  color: $dark-mode-cta-green-color-100;
  &:hover {
    color: #074b8e;
  }
}

.animated-toggler {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 1051;
}

.toggler-icon {
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hidden-mb {
  display: none;
}

@media (max-width: 576px) {
  .hidden-mb {
    display: flex !important;
  }

  .navbar-brand {
    margin-left: 1rem;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}