<nav
  class="navbar navbar-expand-lg navbar-light"
  [ngClass]="{ 'navbar-dark': isDarkMode, 'bg-dark': isDarkMode }"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">Babuevs</a>

    <div class="d-flex align-items-center order-1 order-lg-3 gap-3">
      <a
        href="https://www.linkedin.com/in/shamil-babujev-1140b7191/"
        target="_blank"
        rel="noopener noreferrer"
        class="d-none d-lg-block me-2 text-decoration-none"
        aria-label="Gå til Shamil Babujevs LinkedIn-profil"
      >
        <span class="d-flex gap-1 align-items-center footer-btns__linkedin">
          <i class="fab fa-linkedin fa-lg"></i>
          <small>LinkedIn</small>
        </span>
      </a>

      <button (click)="toggleDarkMode()" class="dark-mode-btn me-2">
        <i [class]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
      </button>
    </div>

    <button
      class="navbar-toggler order-2 order-lg-2 animated-toggler hidden-mb"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse order-3 order-lg-1 text-center"
      id="navbarNav"
    >
      <ul class="navbar-nav mx-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Prosjekter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Utdanning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Tjenester</a>
        </li>
      </ul>
    </div>
  </div>
</nav>