<!-- Footer -->
<footer class="text-white py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Venstre side: Copyright -->
    <div>
      <p class="mb-0">&copy; Babuevs 2021</p>
    </div>

    <!-- Høyre side: Sosiale medier og e-post -->
    <div>
      <a
        href="https://www.linkedin.com/in/shamil-babujev-1140b7191/"
        target="_blank"
        class="text-white me-3 text-decoration-none footer-btns"
      >
        <i class="fab fa-linkedin fa-lg footer-btns__linkedin"></i> LinkedIn
      </a>
      <a
        href="https://github.com/sham93dev"
        target="_blank"
        class="text-white me-3 text-decoration-none footer-btns"
      >
        <i class="fab fa-github fa-lg footer-btns__github"></i> Github
      </a>
      <a
        href="mailto:shamil_b93@hotmail.com"
        class="text-white text-decoration-none footer-btns"
      >
        <i class="fas fa-envelope fa-lg"></i> E-post
      </a>
    </div>
  </div>
</footer>

<!-- FontAwesome for ikoner -->
<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
