// Bootstrap inports
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "./assets/styles/styles.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-primary !important;
}
