@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Use of Poppins font
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 3.75 !default; // 52
$h2-font-size: $font-size-base * 2.625 !default; // 30
$h3-font-size: $font-size-base * 1.375 !default; // 22
$h4-font-size: $font-size-base * 1.125 !default; // 18
$h5-font-size: $font-size-base !default; // 16
$h6-font-size: $font-size-base !default; // 16

$custom-large-font-size: 5.6rem;

// Colors
$color-primary-black: #262626;
$color-primary-orange: #fab600;
$color-primary-blue: #119abf;
$color-primary-light-gray: #f4f2ec;
$color-primary-gray: #efefef;
$color-primary-green: #9cb09e;
$color-primary-green-200: #f0f5f3;
$color-primary-green-100: #849d8a;
$color-primary-green-200: #68776a;

// Linear gradient
$gradient-green-black: linear-gradient(to right, #4c826e, #262626);

// Light mode colors
$light-mode-gray-100: #f6f6f6;
$light-mode-blue-100: #f2f7f6;
$light-mode-green-100: linear-gradient(to right, #ffffff, #f2f7f6);
$light-mode-black-100: #262626;
$light-mode-text-black-100: #262626;
$light-mode-cta-green-color-100: #93a999;

// Dark mode colors and text
$dark-mode-white: #ffffff;
$dark-mode-cta-green-color-100: #93a999;
$dark-mode-cta-green-color-200: #7d8e81;
$dark-mode-black-opacity-100: #2121217c;
$dark-mode-black: #1d1d1d;
$dark-mode-black-100: #37363d;
$dark-mode-black-200: #212121;
